<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet", href="css/style.css")
	body
		header
			img.header_bg(src="img/header_bg.jpg", alt="")
			.header_nav
				a(href="#" class="header_nav_link") About us
				a(href="#" class="header_nav_link") Contacts
			.header_logo.logo
				p.logo_smart SMART
				p.logo_reviewer REVIEWER
			.header_info
				p.header_info_par1 Only true and best reviews from the industry professionals 
				p.header_info_par2 Over 1000+ truthful reviews of different products and services
			.header_search
				input.header_search_field(type="text" placeholder="Find a review")
			.header_menu-bg
				.header_menu-content
					.header_menu_item Electronics
					.header_menu_item#show_menu-lv1 Computers
						.menu_dropt#menu_dropt-lv1
							.dropt_item(href="#") Laptops
							.dropt_item(href="#") Tablets
							.dropt_item(href="#") TV's
							.dropt_item#show_menu-lv2(href="#") Cell Phones & Services
									.menu_dropt2#menu_dropt-lv2
										.dropt_item(href="#") Laptops
										.dropt_item(href="#") Tablets
										.dropt_item(href="#") TV's
										.dropt_item(href="#") Printers
										.dropt_item(href="#") Keyboards
										.dropt_item(href="#") Mouses
							.dropt_item(href="#") Printers
							.dropt_item(href="#") Keyboards
							.dropt_item(href="#") Mouses
							.dropt_item(href="#") Web Cams
					.header_menu_item Games
					.header_menu_item Music
					.header_menu_item Appliances
					.header_menu_item Home & Garden
					.header_menu_item Sport
					.header_menu_item Cars
					.header_menu_item Services
					.header_menu_item More
		main 
			.main_flex-row
				.main_flex-column
					.main_flex-item
						.main_item_foto
							img.main_item_img(src="img/flex_item_img1.jpg", alt="")
						.main_item_content
							.contant_name Apple iPhone 6S review
							.contant_rating.rating
								input(type="radio" name="star1" id="star11")
								label(for="star11")
								input(type="radio" name="star1" id="star21")
								label(for="star21")
								input(type="radio" name="star1" id="star31")
								label(for="star31")
								input(type="radio" name="star1" id="star41")
								label(for="star41")
								input(type="radio" name="star1" id="star51")
								label(for="star51")
							.content.author 
								span by 
								span.content_author_name John Mayer
								span  - Nov 2, 2015
							.contact_info Improved speed everywhere (new processor, faster wireless, quicker Touch ID sensor); a sturdier body; better front and rear cameras; a bold new 3D Touch pressure-sensitive display that could ...
							.content_nav 
								.content_nav_item(href='#') mobile
								.content_nav_item(href='#') apple
								.content_nav_item(href='#') touch
								.content_nav_item(href='#') news
							.content_review READ REVIEW
					.main_flex-item
						.best-seller BEST SELLER
						.main_item_foto
							img.main_item_img(src="img/flex_item_img3.jpg", alt="")
						.main_item_content
							.contant_name Beats Solo 2 review
							.contant_rating.rating
								input(type="radio" name="star2" id="star12")
								label(for="star12")
								input(type="radio" name="star2" id="star22")
								label(for="star22")
								input(type="radio" name="star2" id="star32")
								label(for="star32")
								input(type="radio" name="star2" id="star42")
								label(for="star42")
								input(type="radio" name="star2" id="star52")
								label(for="star52")
							.content.author 
								span by 
								span.content_author_name David Carnoy
								span  - Oct 14, 2015
							.contact_info Like the new Studio, the Solo 2, which weighs in at 7.2 ounces (205 grams), is built more sturdily and has no visible screws.
							.content_nav 
								.content_nav_item(href='#') music
								.content_nav_item(href='#') beats
								.content_nav_item(href='#') headphones
								.content_nav_item(href='#') beats solo
								.content_nav_item(href='#') streets
								.content_nav_item(href='#') lifestyle
							.content_review READ REVIEW
					.main_flex-item
						.main_item_foto
							img.main_item_img(src="img/flex_item_img4.jpg", alt="")
						.main_item_content
							.contant_name DigitalOcean. Simple Cloud Hosting, Built for Developers.
							.contant_rating.rating
								input(type="radio" name="star3" id="star13")
								label(for="star13")
								input(type="radio" name="star3" id="star23")
								label(for="star23")
								input(type="radio" name="star3" id="star33")
								label(for="star33")
								input(type="radio" name="star3" id="star43")
								label(for="star43")
								input(type="radio" name="star3" id="star53")
								label(for="star53")
							.content.author 
								span by 
								span.content_author_name Helen Fiesko
								span  - Oct 22, 2015
							.contact_info The services they provide are quite basic - you get VPS's in the cloud and DNS management, that's all. No fancy load balancing, hosted databases, hadoop clusters, etc.. 
							.content_nav 
								.content_nav_item(href='#') servers
								.content_nav_item(href='#') service
								.content_nav_item(href='#') hosting
								.content_nav_item(href='#') cheap
								.content_nav_item(href='#') best
								.content_nav_item(href='#') cloud
								.content_nav_item(href='#') popular
							.content_review READ REVIEW

				.main_flex-column
					.main_flex-item
						.best-seller BEST SELLER
						.main_item_foto
							img.main_item_img(src="img/flex_item_img2.jpg", alt="")
						.main_item_content
							.contant_name Why Halo 5: Guardians Record Breaking Sales
							.contant_rating.rating
								input(type="radio" name="star4" id="star14")
								label(for="star14")
								input(type="radio" name="star4" id="star24")
								label(for="star24")
								input(type="radio" name="star4" id="star34")
								label(for="star34")
								input(type="radio" name="star4" id="star44")
								label(for="star44")
								input(type="radio" name="star4" id="star54")
								label(for="star54")
							.content.author 
								span by 
								span.content_author_name Jeffrey Wallens
								span  - Oct 22, 2015
							.contact_info As a whole the Xbox community has always been more interactive because of the Halo series. The PS4 following is still great but falls short. The fantastic sales records broken by Halo 5: Guardians shows...
							.content_nav 
								.content_nav_item(href='#') games
								.content_nav_item(href='#') action
								.content_nav_item(href='#') xbox
								.content_nav_item(href='#') px
								.content_nav_item(href='#') ps4
							.content_review READ REVIEW
					.main_flex-item
						.best-choise BEST CHOISE
						.main_item_foto
							img.main_item_img(src="img/flex_item_img4.jpg", alt="")
						.main_item_content
							.contant_name DigitalOcean. Simple Cloud Hosting, Built for Developers.
							.contant_rating.rating
								input(type="radio" name="star5" id="star15")
								label(for="star15")
								input(type="radio" name="star5" id="star25")
								label(for="star25")
								input(type="radio" name="star5" id="star35")
								label(for="star35")
								input(type="radio" name="star5" id="star45")
								label(for="star45")
								input(type="radio" name="star5" id="star55")
								label(for="star55")
							.content.author 
								span by 
								span.content_author_name Helen Fiesko
								span  - Oct 22, 2015
							.contact_info The services they provide are quite basic - you get VPS's in the cloud and DNS management, that's all. No fancy load balancing, hosted databases, hadoop clusters, etc.. 
							.content_nav 
								.content_nav_item(href='#') servers
								.content_nav_item(href='#') service
								.content_nav_item(href='#') hosting
								.content_nav_item(href='#') cheap
								.content_nav_item(href='#') best
								.content_nav_item(href='#') cloud
								.content_nav_item(href='#') popular
							.content_review READ REVIEW
					.main_flex-item
						.best-seller BEST SELLER
						.main_item_foto
							img.main_item_img(src="img/flex_item_img1.jpg", alt="")
						.main_item_content
							.contant_name Apple iPhone 6S review
							.contant_rating.rating
								input(type="radio" name="star6" id="star16")
								label(for="star16")
								input(type="radio" name="star6" id="star26")
								label(for="star26")
								input(type="radio" name="star6" id="star36")
								label(for="star36")
								input(type="radio" name="star6" id="star46")
								label(for="star46")
								input(type="radio" name="star6" id="star56")
								label(for="star56")
							.content.author 
								span by 
								span.content_author_name John Mayer
								span  - Nov 2, 2015
							.contact_info Improved speed everywhere (new processor, faster wireless, quicker Touch ID sensor); a sturdier body; better front and rear cameras; a bold new 3D Touch pressure-sensitive display that could ...
							.content_nav 
								.content_nav_item(href='#') mobile
								.content_nav_item(href='#') apple
								.content_nav_item(href='#') touch
								.content_nav_item(href='#') news
							.content_review READ REVIEW

				.main_flex-column
					.main_flex-item
						.main_item_foto
							img.main_item_img(src="img/flex_item_img3.jpg", alt="")
						.main_item_content
							.contant_name Beats Solo 2 review
							.contant_rating.rating
								input(type="radio" name="star7" id="star17")
								label(for="star17")
								input(type="radio" name="star7" id="star27")
								label(for="star27")
								input(type="radio" name="star7" id="star37")
								label(for="star37")
								input(type="radio" name="star7" id="star47")
								label(for="star47")
								input(type="radio" name="star7" id="star57")
								label(for="star57")
							.content.author 
								span by 
								span.content_author_name David Carnoy
								span  - Oct 14, 2015
							.contact_info Like the new Studio, the Solo 2, which weighs in at 7.2 ounces (205 grams), is built more sturdily and has no visible screws.
							.content_nav 
								.content_nav_item(href='#') music
								.content_nav_item(href='#') beats
								.content_nav_item(href='#') headphones
								.content_nav_item(href='#') beats solo
								.content_nav_item(href='#') streets
								.content_nav_item(href='#') lifestyle
							.content_review READ REVIEW
					.main_flex-column
					.main_flex-item
						.main_item_foto
							img.main_item_img(src="img/flex_item_img1.jpg", alt="")
						.main_item_content
							.contant_name Apple iPhone 6S review
							.contant_rating.rating
								input(type="radio" name="star8" id="star18")
								label(for="star18")
								input(type="radio" name="star8" id="star28")
								label(for="star28")
								input(type="radio" name="star8" id="star38")
								label(for="star38")
								input(type="radio" name="star8" id="star48")
								label(for="star48")
								input(type="radio" name="star8" id="star58")
								label(for="star58")
							.content.author 
								span by 
								span.content_author_name John Mayer
								span  - Nov 2, 2015
							.contact_info Improved speed everywhere (new processor, faster wireless, quicker Touch ID sensor); a sturdier body; better front and rear cameras; a bold new 3D Touch pressure-sensitive display that could ...
							.content_nav 
								.content_nav_item(href='#') mobile
								.content_nav_item(href='#') apple
								.content_nav_item(href='#') touch
								.content_nav_item(href='#') news
							.content_review READ REVIEW
					.main_flex-item 
						.main_item_foto
							img.main_item_img(src="img/flex_item_img2.jpg", alt="")
						.main_item_content
							.contant_name Why Halo 5: Guardians Record Breaking Sales
							.contant_rating.rating
								input(type="radio" name="star9" id="star19")
								label(for="star19")
								input(type="radio" name="star9" id="star29")
								label(for="star29")
								input(type="radio" name="star9" id="star39")
								label(for="star39")
								input(type="radio" name="star9" id="star49")
								label(for="star49")
								input(type="radio" name="star9" id="star59")
								label(for="star59")
							.content.author 
								span by 
								span.content_author_name Jeffrey Wallens
								span  - Oct 22, 2015
							.contact_info As a whole the Xbox community has always been more interactive because of the Halo series. The PS4 following is still great but falls short. The fantastic sales records broken by Halo 5: Guardians shows...
							.content_nav 
								.content_nav_item(href='#') games
								.content_nav_item(href='#') action
								.content_nav_item(href='#') xbox
								.content_nav_item(href='#') px
								.content_nav_item(href='#') ps4
							.content_review READ REVIEW

				.main_flex-column
					.main_flex-item
						.best-choise BEST CHOISE
						.main_item_foto
							img.main_item_img(src="img/flex_item_img4.jpg", alt="")
						.main_item_content
							.contant_name DigitalOcean. Simple Cloud Hosting, Built for Developers.
							.contant_rating.rating
								input(type="radio" name="star10" id="star110")
								label(for="star110")
								input(type="radio" name="star10" id="star210")
								label(for="star210")
								input(type="radio" name="star10" id="star310")
								label(for="star310")
								input(type="radio" name="star10" id="star410")
								label(for="star410")
								input(type="radio" name="star10" id="star510")
								label(for="star510")
							.content.author 
								span by 
								span.content_author_name Helen Fiesko
								span  - Oct 22, 2015
							.contact_info The services they provide are quite basic - you get VPS's in the cloud and DNS management, that's all. No fancy load balancing, hosted databases, hadoop clusters, etc.. 
							.content_nav 
								.content_nav_item(href='#') servers
								.content_nav_item(href='#') service
								.content_nav_item(href='#') hosting
								.content_nav_item(href='#') cheap
								.content_nav_item(href='#') best
								.content_nav_item(href='#') cloud
								.content_nav_item(href='#') popular
							.content_review READ REVIEW
					.main_flex-item 
						.main_item_foto
							img.main_item_img(src="img/flex_item_img2.jpg", alt="")
						.main_item_content
							.contant_name Why Halo 5: Guardians Record Breaking Sales
							.contant_rating.rating
								input(type="radio" name="star11" id="star111")
								label(for="star111")
								input(type="radio" name="star11" id="star211")
								label(for="star211")
								input(type="radio" name="star11" id="star311")
								label(for="star311")
								input(type="radio" name="star11" id="star411")
								label(for="star411")
								input(type="radio" name="star11" id="star511")
								label(for="star511")
							.content.author 
								span by 
								span.content_author_name Jeffrey Wallens
								span  - Oct 22, 2015
							.contact_info As a whole the Xbox community has always been more interactive because of the Halo series. The PS4 following is still great but falls short. The fantastic sales records broken by Halo 5: Guardians shows...
							.content_nav 
								.content_nav_item(href='#') games
								.content_nav_item(href='#') action
								.content_nav_item(href='#') xbox
								.content_nav_item(href='#') px
								.content_nav_item(href='#') ps4
							.content_review READ REVIEW
					.main_flex-item
						.main_item_foto
							img.main_item_img(src="img/flex_item_img3.jpg", alt="")
						.main_item_content
							.contant_name Beats Solo 2 review
							.contant_rating.rating
								input(type="radio" name="star12" id="star112")
								label(for="star112")
								input(type="radio" name="star12" id="star212")
								label(for="star212")
								input(type="radio" name="star12" id="star312")
								label(for="star312")
								input(type="radio" name="star12" id="star412")
								label(for="star412")
								input(type="radio" name="star12" id="star512")
								label(for="star512")
							.content.author 
								span by 
								span.content_author_name David Carnoy
								span  - Oct 14, 2015
							.contact_info Like the new Studio, the Solo 2, which weighs in at 7.2 ounces (205 grams), is built more sturdily and has no visible screws.
							.content_nav 
								.content_nav_item(href='#') music
								.content_nav_item(href='#') beats
								.content_nav_item(href='#') headphones
								.content_nav_item(href='#') beats solo
								.content_nav_item(href='#') streets
								.content_nav_item(href='#') lifestyle
							.content_review READ REVIEW
			.main_btn 
				.main_btn_push LOAD MORE
		footer
			.footer_flex
				.footer_content-left
					.footer_content_logo.logo
						p.logo_smart SMART
						p.logo_reviewer REVIEWER
					p.footer_content-head About
					p.footer_content-info SmartReviewer tracks all the latest consumer technology breakthroughs and shows you what's new, what matters, and how technology can enrich your life. We give you the information, tools, and advice that will help you decide what to buy and how to get the most out of the tech in your life. We give you the information, tools, and advice that will help you decide what to buy.
					p.footer_content-head Popular tags
					.footer_content-tags
						a.tags_item(href='#') music
						a.tags_item(href='#') beats
						a.tags_item(href='#') headphones
						a.tags_item(href='#') beats solo
						a.tags_item(href='#') apple
						a.tags_item(href='#') samsung
						a.tags_item(href='#') mobile
						a.tags_item(href='#') xbox
						a.tags_item(href='#') streets
						a.tags_item(href='#') lifestyle
						a.tags_item(href='#') news
						a.tags_item(href='#') service
						a.tags_item(href='#') cloud
						a.tags_item(href='#') touch
				.footer_content-right
					p.footer_content-head Best Rates Products
					.footer_content-img 
						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img1.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name iPhone 6S review
								.footer_img_item-rating.rating 
									input(type="radio" name="star1a" id="star11a")
									label(for="star11a")
									input(type="radio" name="star1a" id="star21a")
									label(for="star21a")
									input(type="radio" name="star1a" id="star31a")
									label(for="star31a")
									input(type="radio" name="star1a" id="star41a")
									label(for="star41a")
									input(type="radio" name="star1a" id="star51a")
									label(for="star51a")
								p.footer_img_item-author by John Mayer - Nov 2, 2015

						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img2.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name Assassin's Creed Syndicate  review
								.footer_img_item-rating.rating 
									input(type="radio" name="star1b" id="star11b")
									label(for="star11b")
									input(type="radio" name="star1b" id="star21b")
									label(for="star21b")
									input(type="radio" name="star1b" id="star31b")
									label(for="star31b")
									input(type="radio" name="star1b" id="star41b")
									label(for="star41b")
									input(type="radio" name="star1b" id="star51b")
									label(for="star51b")
								p.footer_img_item-author by David Carnoy - Oct 12, 2015

						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img3.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name Nikon D750 review
								.footer_img_item-rating.rating 
									input(type="radio" name="star1c" id="star11c")
									label(for="star11c")
									input(type="radio" name="star1c" id="star21c")
									label(for="star21c")
									input(type="radio" name="star1c" id="star31c")
									label(for="star31c")
									input(type="radio" name="star1c" id="star41c")
									label(for="star41c")
									input(type="radio" name="star1c" id="star51c")
									label(for="star51c")
								p.footer_img_item-author by John Mayer - Nov 2, 2015

					p.footer_content-head Best Latest Reviews
					.footer_content-img 
						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img4.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name Samsung UNH6350 series  review
								.footer_img_item-rating.rating 
									input(type="radio" name="star1d" id="star11d")
									label(for="star11d")
									input(type="radio" name="star1d" id="star21d")
									label(for="star21d")
									input(type="radio" name="star1d" id="star31d")
									label(for="star31d")
									input(type="radio" name="star1d" id="star41d")
									label(for="star41d")
									input(type="radio" name="star1d" id="star51d")
									label(for="star51d")
								p.footer_img_item-author by John Mayer - Nov 2, 2015
						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img5.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name Beats Solo 2. Why is it so  popular?
								.footer_img_item-rating.rating 
									input(type="radio" name="star1e" id="star11e")
									label(for="star11e")
									input(type="radio" name="star1e" id="star21e")
									label(for="star21e")
									input(type="radio" name="star1e" id="star31e")
									label(for="star31e")
									input(type="radio" name="star1e" id="star41e")
									label(for="star41e")
									input(type="radio" name="star1e" id="star51e")
									label(for="star51e")
								p.footer_img_item-author by David Carnoy - Oct 12, 2015
						.footer_img_item
							img.footer_img_item-foto(src="img/footer_img6.png", alt="")
							.footer_img_item-info
								p.footer_img_item-name Samsung Galaxy S6
								.footer_img_item-rating.rating 
									input(type="radio" name="star1f" id="star11f")
									label(for="star11f")
									input(type="radio" name="star1f" id="star21f")
									label(for="star21f")
									input(type="radio" name="star1f" id="star31f")
									label(for="star31f")
									input(type="radio" name="star1f" id="star41f")
									label(for="star41f")
									input(type="radio" name="star1f" id="star51f")
									label(for="star51f")
								p.footer_img_item-author by John Mayer - Nov 2, 2015
			.footer.bottom
				.footer_bottom_contacts
					span 
						img(src="img/mail.png", alt="")
					span.footer_contacts-question Have a question?
					span.footer_contacts-mail contacts@smartreviewer.com
				.footer_bottom_social
					span 
						img(src="img/fb.png", alt="")
					span 
						img(src="img/twitter.png", alt="")
					span 
						img(src="img/google.png", alt="")
					span 
						img(src="img/paintrest.png", alt="")

		script(src='js/jquery-3.3.1.min.js')
		script(src='js/index.js')
	
	